<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h4>id: <%= id %></h4>
    <h1>Verify your email and password for the Deletion</h1>
    <hr>
    <form action="/user/<%= id %>/?_method=DELETE" method="post">
    <input type="email" name="email" placeholder="enter email"><br><br>
    <input type="password" name="password" placeholder="enter password">
    <button>Verify and Delete</button>
    </form>
<hr>

</body>
</html>