<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1*2</h1>
    <h3><%= ['hello', 'hk'][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, qui amet odio mollitia odit possimus fugit animi architecto doloribus expedita. Delectus minus velit esse non sapiente saepe id architecto iste.</p>
    <button>Click here</button>
</body>
</html>